<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><%= link_to "Your Listing", spaces_path, class: "sidebar-link active" %></li>
			<li class="sidebar-item"><%= link_to "Your Bookings", your_bookings_path, class: "sidebar-link" %></li>
			<li class="sidebar-item"><%= link_to "Your Storages", your_storages_path, class: "sidebar-link" %></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Listings
			</div>
			<div class="panel-body">

				<% @spaces.each do |space| %>
					<div class = "row">
						<div class="col-md-2">
							<%= image_tag space.show_first_photo(:thumb) %>
						</div>
						<div class="col-md-7">
							<h4><%= space.list_name %></h4>
						</div>
						<div class="col-md-3 right">
							<%= link_to "Update", edit_space_path(space), class: "btn btn-primary" %>
						</div>
					</div>
					<div class = "row">
						<div class="col-md-6">
							<h6><%= space.city %></h6>
							<h6><%= space.state %></h6>
						</div>
						<div class="col-md-6">
							<h6><%= space.price %></h6>
						</div>
					</div>
				<% end %>

			</div>
		</div>
	</div>

</div>